body{
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.858);
}

#FlashReverso {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
} 

#Zoom {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

#Savitar {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

#Devoe {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

#Cicada {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

#FlashDark {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

#GoodSpeed {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

@media (min-width: 1100px) {

    body{
        width: max-content;
    }

    #FlashReverso {
        height: 60vh;
        width: auto;
        display: inline;
        margin-right: 80px;
        margin-left: 80px;
        margin-top: 18vh;
        
    } 

    #Zoom {
        height: 60vh;
        width: auto;
        display: inline;
        margin-right: 80px;
        margin-top: 18vh;
        
    } 

    #Savitar {
        height: 60vh;
        width: auto;
        display: inline;
        margin-right: 80px;
        margin-top: 18vh;
        
    } 

    #Devoe {
        height: 60vh;
        width: auto;
        display: inline;
        margin-right: 80px;
        margin-top: 18vh;
       
    } 

    #Cicada {
        height: 60vh;
        width: auto;
        display: inline;
        margin-right: 80px;
        margin-top: 18vh;
        
    } 

    #FlashDark{
        height: 60vh;
        width: auto;
        display: inline;
        margin-right: 80px;
        margin-top: 18vh;
       
    } 

    #GoodSpeed {
        height: 60vh;
        width: auto;
        display: inline;
        margin-right: 80px;
        margin-top: 18vh;
        
    } 
}
