body{
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.858);
}

#FlashReverso {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
} 

#Zoom {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

#Savitar {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

#Devoe {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

#Cicada {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

#FlashDark {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

#GoodSpeed {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}